html {
  height: 100%;
  width: 100%;
  background-color: #565895; }

body {
  height: 100%;
  width: 100%;
  min-height: 550px;
  display: flex;
  margin: 0px;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  font-family: "Playfair Display", sans-serif;
  /*background: linear-gradient(to bottom right, rgba(0, 0, 77, .75) 20%, rgba(4, 49, 90, .80) 73%), url(images/flagBWLight.jpg);*/
  background: url(images/flagBWLight.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 77, 0.5);
  background-blend-mode: darken; }
  @media screen and (min-width: 0px) and (max-width: 249px) {
    body {
      /*background: linear-gradient(to bottom right, rgba(168, 0, 0, .85) -50%, rgba(248, 248, 255, .9) 33%, rgba(0, 0, 139, 0.9) 130%), url(images/flagBWBLUR2.jpg) left no-repeat;*/
      background-size: cover; } }
  @media screen and (min-width: 250px) and (max-width: 349px) {
    body {
      /*background: linear-gradient(to bottom right, rgba(168, 0, 0, .85) -50%, rgba(248, 248, 255, .9) 33%, rgba(0, 0, 139, 0.9) 130%), url(images/flagBWBLUR2.jpg) left no-repeat;*/
      background-size: cover; } }
  @media screen and (min-width: 350px) and (max-width: 549px) {
    body {
      /*background: linear-gradient(to bottom right, rgba(168, 0, 0, .85) -50%, rgba(248, 248, 255, .9) 33%, rgba(0, 0, 139, 0.9) 130%), url(images/flagBWBLUR2.jpg) center no-repeat;*/
      background-size: cover; } }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 6%;
  width: 100%;
  background-color: rgba(239, 239, 239, 0.9);
  border-top: 7px double rgba(147, 27, 56, 0.9);
  box-shadow: -3px 10px 40px 0px rgba(23, 22, 77, 0.7);
  margin: 0px;
  z-index: 999; }
  @media screen and (min-width: 0px) and (max-width: 249px) {
    .menu {
      position: fixed;
      bottom: 0;
      order: 2;
      border-bottom: none;
      border-top: 1.5px solid darkred; } }
  @media screen and (min-width: 250px) and (max-width: 349px) {
    .menu {
      position: fixed;
      height: 7%;
      bottom: 0;
      order: 2;
      border-bottom: none; } }
  @media screen and (min-width: 350px) and (max-width: 549px) {
    .menu {
      position: fixed;
      height: 8%;
      bottom: 0;
      order: 2;
      border-bottom: none; } }
  .menu .menuOption {
    width: initial;
    height: 100%;
    /*border-left: 1px solid rgba(248, 248, 255, 0.7);*/
    border-bottom: 3px solid transparent;
    box-sizing: border-box;
    padding: 1vw 2vw .5vw 2vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: rgba(0, 0, 77, 0.75);
    font-family: open sans;
    font-weight: 600;
    font-size: 1.6vw;
    line-height: 2.4vw;
    letter-spacing: .2vw;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .4s ease, border-bottom .3s ease, background-color .4s ease; }
    @media screen and (min-width: 0px) and (max-width: 249px) {
      .menu .menuOption {
        width: 23.75%;
        padding: 1vw 1vw 1vw 3vw;
        letter-spacing: .2vw;
        font-size: 3.4vw;
        line-height: 4.1vw; } }
    @media screen and (min-width: 250px) and (max-width: 349px) {
      .menu .menuOption {
        width: 23.75%;
        padding: 1vw 1vw 1vw 3vw;
        letter-spacing: .2vw;
        font-size: 3.4vw;
        line-height: 4.1vw; } }
    @media screen and (min-width: 350px) and (max-width: 549px) {
      .menu .menuOption {
        width: 23.75%;
        padding: 1vw 1vw 1vw 3vw;
        letter-spacing: .2vw;
        font-size: 3.4vw;
        line-height: 4.1vw; } }
    @media screen and (min-width: 550px) and (max-width: 749px) {
      .menu .menuOption {
        width: initial;
        padding: 1vw 2vw .5vw 2vw;
        justify-content: flex-end;
        font-weight: 600;
        font-size: 1.6vw;
        text-align: center; } }
    @media screen and (min-width: 900px) and (max-width: 1249px) {
      .menu .menuOption {
        font-size: .8em;
        letter-spacing: .05em;
        line-height: initial;
        padding: 1px 20px 3px 20px; } }
    @media screen and (min-width: 1250px) and (max-width: 2199px) {
      .menu .menuOption {
        font-size: 1.4em; } }
  @media screen and (min-width: 0px) and (max-width: 249px) {
    .menu .menuOption:first-child {
      border-left: none; } }
  @media screen and (min-width: 250px) and (max-width: 349px) {
    .menu .menuOption:first-child {
      border-left: none; } }
  @media screen and (min-width: 350px) and (max-width: 549px) {
    .menu .menuOption:first-child {
      border-left: none; } }
  @media screen and (min-width: 550px) and (max-width: 749px) {
    .menu .menuOption:first-child {
      border-left: none; } }
  .menu .menuOption:last-child {
    border-right: none; }
    @media screen and (min-width: 0px) and (max-width: 249px) {
      .menu .menuOption:last-child {
        border-right: none; } }
    @media screen and (min-width: 250px) and (max-width: 349px) {
      .menu .menuOption:last-child {
        border-right: none; } }
    @media screen and (min-width: 350px) and (max-width: 549px) {
      .menu .menuOption:last-child {
        border-right: none; } }
    @media screen and (min-width: 550px) and (max-width: 749px) {
      .menu .menuOption:last-child {
        border-right: none; } }
  .menu .menuOption:hover {
    color: ghostwhite;
    background-color: rgba(0, 0, 77, 0.7);
    border-bottom: 3px solid rgba(147, 27, 56, 0.85);
    cursor: pointer;
    transition: color .4s ease, border-bottom .3s ease .2s, background-color .4s ease; }

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90%;
  margin: 50px 0 0 0;
  align-self: center;
  overflow-y: scroll; }
  @media screen and (min-width: 0px) and (max-width: 249px) {
    .contentWrapper {
      height: 85%;
      margin-bottom: 15px;
      justify-content: center; } }
  @media screen and (min-width: 250px) and (max-width: 349px) {
    .contentWrapper {
      height: 85%;
      margin: 10px 0 15px 0;
      justify-content: center; } }
  @media screen and (min-width: 350px) and (max-width: 549px) {
    .contentWrapper {
      height: 87%;
      margin: 10px 0 15px 0;
      justify-content: center; } }
  @media screen and (min-width: 550px) and (max-width: 749px) {
    .contentWrapper {
      justify-content: flex-start;
      margin: 10px 0 15px 0;
      padding-top: 3vh;
      padding-bottom: 3vh; } }
  @media screen and (min-width: 1250px) and (max-width: 2199px) {
    .contentWrapper {
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row; } }
  .contentWrapper .titleFormWrapper {
    display: flex;
    width: 45%;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(239, 239, 239, 0.9);
    /*box-shadow: 0px 16px 35px 7px rgba(23, 22, 77, 0.7);*/
    box-shadow: -3px 16px 40px 0px rgba(23, 22, 77, 0.7);
    padding: .5% 3% 3% 3%; }
    @media screen and (min-width: 0px) and (max-width: 249px) {
      .contentWrapper .titleFormWrapper {
        order: 1;
        width: 95%;
        padding: 2% 4% 4% 4%; } }
    @media screen and (min-width: 250px) and (max-width: 349px) {
      .contentWrapper .titleFormWrapper {
        order: 1;
        width: 95%;
        padding: 2% 4% 4% 4%; } }
    @media screen and (min-width: 350px) and (max-width: 549px) {
      .contentWrapper .titleFormWrapper {
        order: 1;
        width: 95%;
        padding: 2% 4% 4% 4%; } }
    @media screen and (min-width: 550px) and (max-width: 749px) {
      .contentWrapper .titleFormWrapper {
        width: 64%;
        padding: 2% 4% 4% 4%; } }
    @media screen and (min-width: 900px) and (max-width: 1249px) {
      .contentWrapper .titleFormWrapper {
        width: 400px;
        height: 490px;
        padding: .75% 2.75% 3% 2.75%; } }
    .contentWrapper .titleFormWrapper .title {
      width: 102%;
      font-weight: 100;
      font-size: 12.45vw;
      letter-spacing: .3vw;
      /*-webkit-text-stroke: 1px rgba(147, 27, 56, 0.9);
      text-shadow: 0px 0px 18px rgba(147, 27, 56, 0.9);
      color: rgba(233, 226, 233, 0.9);*/
      text-shadow: 2px 2px 6px rgba(0, 0, 77, 0.7);
      color: rgba(147, 27, 56, 0.9);
      margin-top: 0;
      margin-bottom: 10px;
      line-height: 13vw; }
      @media screen and (min-width: 0px) and (max-width: 249px) {
        .contentWrapper .titleFormWrapper .title {
          font-size: 28vw;
          letter-spacing: 2px;
          line-height: 26vw; } }
      @media screen and (min-width: 250px) and (max-width: 349px) {
        .contentWrapper .titleFormWrapper .title {
          font-size: 28vw;
          letter-spacing: 2px;
          line-height: 26vw; } }
      @media screen and (min-width: 350px) and (max-width: 549px) {
        .contentWrapper .titleFormWrapper .title {
          font-size: 28vw;
          letter-spacing: 2px;
          line-height: 26vw; } }
      @media screen and (min-width: 550px) and (max-width: 749px) {
        .contentWrapper .titleFormWrapper .title {
          font-size: 18.6vw;
          letter-spacing: initial;
          line-height: 16vw;
          margin-bottom: 20px; } }
      @media screen and (min-width: 900px) and (max-width: 1249px) {
        .contentWrapper .titleFormWrapper .title {
          font-size: 7.4em;
          letter-spacing: initial;
          line-height: 1em; } }
    .contentWrapper .titleFormWrapper .underTitle {
      width: 100%;
      font-size: 3.2vw;
      border-bottom: 4px double rgba(147, 27, 56, 0.9);
      			/*border-bottom: 4px double rgba(147, 27, 56, 0.9);
                  box-shadow: 0px 5px 4px -5px rgba(0, 0, 77, 0.6);*/
      /*color: rgba(233, 227, 233, 1);*/
      color: rgba(0, 0, 77, 0.75);
      font-family: oswald;
      letter-spacing: .15vw;
      text-align-last: justify;
      margin: 10px 0 0 0;
      padding-bottom: 10px;
      font-weight: lighter; }
      @media screen and (min-width: 0px) and (max-width: 249px) {
        .contentWrapper .titleFormWrapper .underTitle {
          font-size: 7vw;
          letter-spacing: .42vw;
          margin-top: 0; } }
      @media screen and (min-width: 250px) and (max-width: 349px) {
        .contentWrapper .titleFormWrapper .underTitle {
          font-size: 7vw;
          letter-spacing: .42vw;
          margin-top: 0; } }
      @media screen and (min-width: 350px) and (max-width: 549px) {
        .contentWrapper .titleFormWrapper .underTitle {
          font-size: 7vw;
          letter-spacing: .42vw;
          margin-top: 0; } }
      @media screen and (min-width: 550px) and (max-width: 749px) {
        .contentWrapper .titleFormWrapper .underTitle {
          font-size: 4.6vw;
          letter-spacing: 2.5vw; } }
      @media screen and (min-width: 900px) and (max-width: 1249px) {
        .contentWrapper .titleFormWrapper .underTitle {
          font-size: 1.75em;
          letter-spacing: .05em; } }
    .contentWrapper .titleFormWrapper .introText {
      width: 100%;
      font-family: open sans;
      font-size: 1.8vw;
      font-weight: 400;
      color: rgba(0, 0, 77, 0.95);
      text-align-last: justify;
      letter-spacing: 0vw;
      margin: 13px 0 15px 0;
      line-height: 3vw; }
      @media screen and (min-width: 0px) and (max-width: 249px) {
        .contentWrapper .titleFormWrapper .introText {
          font-size: 3.9vw;
          line-height: 6vw;
          margin: 10px 0 15px 0;
          letter-spacing: .1vw; } }
      @media screen and (min-width: 250px) and (max-width: 349px) {
        .contentWrapper .titleFormWrapper .introText {
          font-size: 3.9vw;
          line-height: 6vw;
          margin: 10px 0 15px 0;
          letter-spacing: .1vw; } }
      @media screen and (min-width: 350px) and (max-width: 549px) {
        .contentWrapper .titleFormWrapper .introText {
          font-size: 3.9vw;
          line-height: 6vw;
          margin: 10px 0 15px 0;
          letter-spacing: .1vw; } }
      @media screen and (min-width: 550px) and (max-width: 749px) {
        .contentWrapper .titleFormWrapper .introText {
          font-size: 2.6vw;
          letter-spacing: 0vw;
          line-height: 4vw; } }
      @media screen and (min-width: 900px) and (max-width: 1249px) {
        .contentWrapper .titleFormWrapper .introText {
          font-size: 1em;
          letter-spacing: 0;
          line-height: 1.5em; } }
      .contentWrapper .titleFormWrapper .introText .heardSpan, .contentWrapper .titleFormWrapper .introText .youSpan {
        margin-right: -1.3%; }
    .contentWrapper .titleFormWrapper .addressSearch {
      display: flex;
      justify-content: center;
      width: 101%; }
      .contentWrapper .titleFormWrapper .addressSearch .addressSearchBar {
        border: 2px solid rgba(139, 0, 0, 0.85);
        height: 40px;
        width: 100%;
        background-color: rgba(22, 22, 77, 0.4);
        padding-left: 15px;
        padding-right: 15px;
        font-family: Oswald;
        font-weight: lighter;
        color: darkred;
        font-size: 1.5em;
        box-shadow: inset 0px 2px 11px 1px rgba(0, 0, 77, 0.7);
        transition: background-color .4s ease; }
        @media screen and (min-width: 0px) and (max-width: 249px) {
          .contentWrapper .titleFormWrapper .addressSearch .addressSearchBar {
            font-size: 6vw; } }
        @media screen and (min-width: 250px) and (max-width: 349px) {
          .contentWrapper .titleFormWrapper .addressSearch .addressSearchBar {
            font-size: 6vw; } }
        @media screen and (min-width: 350px) and (max-width: 549px) {
          .contentWrapper .titleFormWrapper .addressSearch .addressSearchBar {
            width: 100%; } }
      .contentWrapper .titleFormWrapper .addressSearch .addressSearchBar::-webkit-input-placeholder {
        color: rgba(239, 239, 239, 0.6);
        opacity: .3; }
      .contentWrapper .titleFormWrapper .addressSearch .addressSearchBar:focus {
        background-color: rgba(248, 248, 255, 0.7);
        transition: background-color .4s ease; }
  .contentWrapper .repsWrapper {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 60%;
    max-height: 350px;
    padding: 15px;
    margin-bottom: 10px;
    font-family: roboto;
    font-weight: lighter;
    background: rgba(233, 226, 233, 0.9); }
    @media screen and (min-width: 0px) and (max-width: 249px) {
      .contentWrapper .repsWrapper {
        order: 1;
        flex-wrap: wrap;
        flex-direction: row;
        width: 85%;
        max-height: 270px;
        padding: 10px;
        justify-content: space-between; } }
    @media screen and (min-width: 250px) and (max-width: 349px) {
      .contentWrapper .repsWrapper {
        order: 1;
        flex-wrap: wrap;
        flex-direction: row;
        width: 85%;
        max-height: 250px;
        padding: 10px;
        justify-content: space-between; } }
    @media screen and (min-width: 350px) and (max-width: 549px) {
      .contentWrapper .repsWrapper {
        order: 1;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
        width: 85%;
        max-height: 250px; } }
    @media screen and (min-width: 550px) and (max-width: 749px) {
      .contentWrapper .repsWrapper {
        width: 80%; } }
    @media screen and (min-width: 1250px) and (max-width: 2199px) {
      .contentWrapper .repsWrapper {
        width: 39%;
        margin-left: 5px;
        margin-right: 5px; } }
    .contentWrapper .repsWrapper .repImgContainer {
      height: 290px;
      width: 201px;
      display: block;
      margin-right: 15px;
      background-position: center top;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      overflow: hidden; }
      @media screen and (min-width: 0px) and (max-width: 249px) {
        .contentWrapper .repsWrapper .repImgContainer {
          display: none; } }
      @media screen and (min-width: 250px) and (max-width: 349px) {
        .contentWrapper .repsWrapper .repImgContainer {
          display: none; } }
      @media screen and (min-width: 350px) and (max-width: 549px) {
        .contentWrapper .repsWrapper .repImgContainer {
          order: 1;
          height: 160px;
          width: 111px;
          border-right: none;
          padding-right: 0px;
          margin-bottom: 10px;
          margin-right: 10px;
          background-position: center center; } }
      .contentWrapper .repsWrapper .repImgContainer img {
        height: 290px;
        width: 201px;
        opacity: 0; }
        @media screen and (min-width: 0px) and (max-width: 249px) {
          .contentWrapper .repsWrapper .repImgContainer img {
            display: none; } }
        @media screen and (min-width: 250px) and (max-width: 349px) {
          .contentWrapper .repsWrapper .repImgContainer img {
            display: none; } }
        @media screen and (min-width: 350px) and (max-width: 549px) {
          .contentWrapper .repsWrapper .repImgContainer img {
            height: 160px;
            width: 111px;
            border-right: none;
            padding-right: 10px;
            margin-bottom: 5px; } }
    .contentWrapper .repsWrapper .repInfo {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      justify-content: space-around;
      align-items: baseline;
      height: 250px;
      max-width: 58%;
      text-align: left;
      line-height: 1em;
      padding-left: 15px;
      padding-right: 10px;
      border-left: 1px solid rgba(248, 248, 255, 0.7); }
      @media screen and (min-width: 0px) and (max-width: 249px) {
        .contentWrapper .repsWrapper .repInfo {
          order: 1;
          height: 245px;
          line-height: 1.5em;
          justify-content: space-around;
          max-width: 75%;
          padding-left: 0;
          padding-right: 0;
          margin-left: 0;
          border-left: none; } }
      @media screen and (min-width: 250px) and (max-width: 349px) {
        .contentWrapper .repsWrapper .repInfo {
          order: 1;
          height: 220px;
          line-height: 1.6em;
          justify-content: space-around;
          max-width: 75%;
          padding-left: 0;
          padding-right: 0;
          margin-left: 0;
          border-left: none; } }
      @media screen and (min-width: 350px) and (max-width: 549px) {
        .contentWrapper .repsWrapper .repInfo {
          order: 3;
          height: 210px;
          line-height: 1.1em;
          justify-content: space-around;
          max-width: 60%;
          margin-left: 0px;
          padding-left: 10px;
          border-left: 1px solid rgba(248, 248, 255, 0.7); } }
      @media screen and (min-width: 550px) and (max-width: 749px) {
        .contentWrapper .repsWrapper .repInfo {
          width: 48%;
          font-size: .9em; } }
      @media screen and (min-width: 1250px) and (max-width: 2199px) {
        .contentWrapper .repsWrapper .repInfo {
          width: 50%;
          font-size: 1.04em;
          line-height: 1.3em; } }
      .contentWrapper .repsWrapper .repInfo .repName {
        font-size: 2.8em;
        line-height: 95%;
        margin-top: -2px;
        margin-bottom: 2px;
        font-family: oswald;
        font-weight: lighter;
        align-self: flex-start;
        justify-content: flex-end;
        color: darkred; }
        @media screen and (min-width: 0px) and (max-width: 249px) {
          .contentWrapper .repsWrapper .repInfo .repName {
            font-size: 10vw;
            text-align: left;
            margin-top: -2px;
            margin-bottom: 5px; } }
        @media screen and (min-width: 250px) and (max-width: 349px) {
          .contentWrapper .repsWrapper .repInfo .repName {
            font-size: 10vw;
            text-align: left;
            margin-top: -2px;
            margin-bottom: 5px; } }
        @media screen and (min-width: 350px) and (max-width: 549px) {
          .contentWrapper .repsWrapper .repInfo .repName {
            font-size: 6.8vw;
            text-align: left;
            margin-top: -2px;
            margin-bottom: 5px; } }
        @media screen and (min-width: 550px) and (max-width: 749px) {
          .contentWrapper .repsWrapper .repInfo .repName {
            font-size: 2.3em;
            text-align: left;
            margin-top: -2px; } }
        @media screen and (min-width: 1250px) and (max-width: 2199px) {
          .contentWrapper .repsWrapper .repInfo .repName {
            font-size: 2.2em;
            margin-bottom: 5px; } }
      .contentWrapper .repsWrapper .repInfo .repTitle {
        display: flex;
        font-size: 1em;
        font-weight: 100;
        color: darkred;
        font-style: italic;
        margin-top: 0px;
        margin-bottom: 10px; }
        @media screen and (min-width: 0px) and (max-width: 249px) {
          .contentWrapper .repsWrapper .repInfo .repTitle {
            font-size: .8em;
            margin-bottom: 5px; } }
        @media screen and (min-width: 250px) and (max-width: 349px) {
          .contentWrapper .repsWrapper .repInfo .repTitle {
            font-size: .8em;
            margin-bottom: 5px; } }
        @media screen and (min-width: 350px) and (max-width: 549px) {
          .contentWrapper .repsWrapper .repInfo .repTitle {
            font-size: .75em;
            margin-bottom: 5px; } }
        @media screen and (min-width: 1250px) and (max-width: 2199px) {
          .contentWrapper .repsWrapper .repInfo .repTitle {
            font-size: .9em; } }
      .contentWrapper .repsWrapper .repInfo .repAddressOptionalLine {
        font-size: 1.1em;
        font-weight: 100;
        color: darkblue;
        margin-top: 4px;
        margin-bottom: 0px; }
        @media screen and (min-width: 0px) and (max-width: 249px) {
          .contentWrapper .repsWrapper .repInfo .repAddressOptionalLine {
            font-size: .9em; } }
        @media screen and (min-width: 250px) and (max-width: 349px) {
          .contentWrapper .repsWrapper .repInfo .repAddressOptionalLine {
            font-size: .9em; } }
        @media screen and (min-width: 350px) and (max-width: 549px) {
          .contentWrapper .repsWrapper .repInfo .repAddressOptionalLine {
            font-size: .85em; } }
        @media screen and (min-width: 550px) and (max-width: 749px) {
          .contentWrapper .repsWrapper .repInfo .repAddressOptionalLine {
            margin-bottom: 0px; } }
        @media screen and (min-width: 1250px) and (max-width: 2199px) {
          .contentWrapper .repsWrapper .repInfo .repAddressOptionalLine {
            font-size: 1em; } }
      .contentWrapper .repsWrapper .repInfo .repAddressOne, .contentWrapper .repsWrapper .repInfo .repAddressTwo, .contentWrapper .repsWrapper .repInfo .repPhone, .contentWrapper .repsWrapper .repInfo .repWebsite {
        font-size: 1.1em;
        font-weight: 100;
        color: darkblue;
        margin-top: 0px;
        margin-bottom: 0px; }
        @media screen and (min-width: 0px) and (max-width: 249px) {
          .contentWrapper .repsWrapper .repInfo .repAddressOne, .contentWrapper .repsWrapper .repInfo .repAddressTwo, .contentWrapper .repsWrapper .repInfo .repPhone, .contentWrapper .repsWrapper .repInfo .repWebsite {
            font-size: .9em;
            margin-top: 0px; } }
        @media screen and (min-width: 250px) and (max-width: 349px) {
          .contentWrapper .repsWrapper .repInfo .repAddressOne, .contentWrapper .repsWrapper .repInfo .repAddressTwo, .contentWrapper .repsWrapper .repInfo .repPhone, .contentWrapper .repsWrapper .repInfo .repWebsite {
            font-size: .9em;
            margin-top: 0px; } }
        @media screen and (min-width: 350px) and (max-width: 549px) {
          .contentWrapper .repsWrapper .repInfo .repAddressOne, .contentWrapper .repsWrapper .repInfo .repAddressTwo, .contentWrapper .repsWrapper .repInfo .repPhone, .contentWrapper .repsWrapper .repInfo .repWebsite {
            font-size: .85em;
            margin-top: 0px; } }
        @media screen and (min-width 350px) and (max-width: 450px) {
          .contentWrapper .repsWrapper .repInfo .repAddressOne, .contentWrapper .repsWrapper .repInfo .repAddressTwo, .contentWrapper .repsWrapper .repInfo .repPhone, .contentWrapper .repsWrapper .repInfo .repWebsite {
            font-size: 1.1em; } }
        @media screen and (min-width: 1250px) and (max-width: 2199px) {
          .contentWrapper .repsWrapper .repInfo .repAddressOne, .contentWrapper .repsWrapper .repInfo .repAddressTwo, .contentWrapper .repsWrapper .repInfo .repPhone, .contentWrapper .repsWrapper .repInfo .repWebsite {
            font-size: 1em; } }
      @media screen and (min-width: 0px) and (max-width: 249px) {
        .contentWrapper .repsWrapper .repInfo .repAddressTwo {
          font-size: .9em; } }
      @media screen and (min-width: 250px) and (max-width: 349px) {
        .contentWrapper .repsWrapper .repInfo .repAddressTwo {
          font-size: .9em; } }
      @media screen and (min-width: 350px) and (max-width: 549px) {
        .contentWrapper .repsWrapper .repInfo .repAddressTwo {
          font-size: .85em; } }
      @media screen and (min-width: 1250px) and (max-width: 2199px) {
        .contentWrapper .repsWrapper .repInfo .repAddressTwo {
          font-size: 1em; } }
      @media screen and (min-width: 0px) and (max-width: 249px) {
        .contentWrapper .repsWrapper .repInfo .repPhone {
          font-size: .9em; } }
      @media screen and (min-width: 250px) and (max-width: 349px) {
        .contentWrapper .repsWrapper .repInfo .repPhone {
          font-size: .9em; } }
      @media screen and (min-width: 350px) and (max-width: 549px) {
        .contentWrapper .repsWrapper .repInfo .repPhone {
          font-size: .85em; } }
      @media screen and (min-width: 1250px) and (max-width: 2199px) {
        .contentWrapper .repsWrapper .repInfo .repPhone {
          font-size: 1em; } }
      .contentWrapper .repsWrapper .repInfo .repWebsite {
        margin-bottom: 10px;
        transition: color .3s ease; }
        @media screen and (min-width: 0px) and (max-width: 249px) {
          .contentWrapper .repsWrapper .repInfo .repWebsite {
            font-size: .9em;
            margin-bottom: 0; } }
        @media screen and (min-width: 250px) and (max-width: 349px) {
          .contentWrapper .repsWrapper .repInfo .repWebsite {
            font-size: .9em;
            margin-bottom: 0; } }
        @media screen and (min-width: 350px) and (max-width: 549px) {
          .contentWrapper .repsWrapper .repInfo .repWebsite {
            font-size: .85em;
            margin-bottom: 0; } }
        @media screen and (min-width: 1250px) and (max-width: 2199px) {
          .contentWrapper .repsWrapper .repInfo .repWebsite {
            font-size: 1em; } }
      .contentWrapper .repsWrapper .repInfo .repWebsite:hover {
        color: darkred;
        transition: color .3s ease; }
    .contentWrapper .repsWrapper .repSocialMedia {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      height: 40px;
      width: 100px;
      border-left: 1px solid rgba(248, 248, 255, 0.7);
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 15px;
      padding-right: 15px; }
      @media screen and (min-width: 0px) and (max-width: 249px) {
        .contentWrapper .repsWrapper .repSocialMedia {
          order: 2;
          flex-direction: column;
          width: auto;
          height: 130px;
          margin: 0;
          padding-left: 0;
          padding-right: 0;
          border-left: none; } }
      @media screen and (min-width: 250px) and (max-width: 349px) {
        .contentWrapper .repsWrapper .repSocialMedia {
          order: 2;
          flex-direction: column;
          width: auto;
          height: 130px;
          margin: 0;
          padding-left: 0;
          padding-right: 0;
          border-left: none; } }
      @media screen and (min-width: 350px) and (max-width: 549px) {
        .contentWrapper .repsWrapper .repSocialMedia {
          order: 2;
          margin: 0;
          width: 111px;
          padding-left: 0;
          padding-right: 10px;
          border-left: none; } }
      .contentWrapper .repsWrapper .repSocialMedia .socialMediaIcon {
        height: 40px;
        width: 40px;
        opacity: .4;
        transition: background .3s ease, opacity .3s ease; }
        @media screen and (min-width: 0px) and (max-width: 249px) {
          .contentWrapper .repsWrapper .repSocialMedia .socialMediaIcon {
            opacity: 1; } }
        @media screen and (min-width: 250px) and (max-width: 349px) {
          .contentWrapper .repsWrapper .repSocialMedia .socialMediaIcon {
            opacity: 1; } }
    .contentWrapper .repsWrapper .socialMediaIconInvisible {
      display: none; }
    .contentWrapper .repsWrapper .facebookIcon {
      background: url("images/Facebook.png");
      background-size: contain; }
    .contentWrapper .repsWrapper .twitterIcon {
      background: url("images/Twitter.png");
      background-size: contain; }
    .contentWrapper .repsWrapper .socialMediaIcon:hover {
      opacity: 1;
      transition: opacity .3s ease; }
  .contentWrapper .repsWrapper:first-child {
    border-top: none; }
  @media screen and (min-width: 1250px) and (max-width: 2199px) {
    .contentWrapper .repsWrapper:nth-child(2) {
      border-top: none; } }
  .contentWrapper .linksSectionsHeading {
    display: flex;
    width: 100%;
    min-height: 50px;
    justify-content: center;
    margin: 20px 0 20px 0;
    padding-bottom: 5px;
    font-size: 2.5em;
    font-family: Oswald;
    font-weight: lighter;
    color: darkred;
    background-color: rgba(224, 230, 235, 0.9); }
  .contentWrapper .linksSectionsHeading:nth-child(1) {
    margin-top: 0; }
  .contentWrapper .linksSectionsWrapper {
    column-count: 2;
    column-gap: 2;
    column-width: calc(50% - 10px);
    		/*.linksList {
                display: flex;
                flex-direction: column;
                width: 50%;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                overflow-y: scroll;
                padding: 20px;
                border-right: 1px solid rgba(248, 248, 255, 0.7);
                align-items: flex-start;
                font-family: Open Sans Condensed;
                font-size: 1.3em;
                color: darkblue;
                background: rgba(248, 248, 255, 0.4);
                @media screen and (min-width: 0px) and (max-width: 249px) {
                    width: 100%;
                }
                @media screen and (min-width: 250px) and (max-width: 349px) {
                    width: 100%;
                }
                @media screen and (min-width: 350px) and (max-width: 549px) {
                    width: 100%;
                }
                .linksTitle {
                    font-size: 1.5em;
                    color: darkred;
                    margin: 13px 0 13px 0;
                    transition: color .3s ease;
                }
                .linksLink {
                    text-decoration: none;
                    color: darkblue;
                    margin-bottom: 8px;
                    text-align: left;
                }
                .linksLink:hover {
                    color: darkred;
                    transition: color .3s ease;
                }
            }
            .linksDescriptions {
                display: flex;
                flex-direction: column;
                width: 50%;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                overflow-y: scroll;
                padding: 20px;
                align-items: center;
                justify-content: flex-start;
                font-family: Open Sans Condensed;
                font-size: 1.3em;
                color: darkblue;
                background: rgba(248, 248, 255, .4);
                @media screen and (min-width: 0px) and (max-width: 249px) {
                    display: none;
                }
                @media screen and (min-width: 250px) and (max-width: 349px) {
                    display: none;
                }
                @media screen and (min-width: 350px) and (max-width: 549px) {
                    display: none;
                }
                .linksScreenshot {
                    width: 100%;
                    opacity: 0;
                    margin-top: 20px;
                    padding: 10px;
                    background: rgba(248, 248, 255, 0.7);
                    transition: opacity .3s ease;
                }
                .linksDescriptionsPlaceholder {
                    margin: 0px;
                    opacity: 1;
                    transition: opacity .3s ease;
                }
                .linksDescriptionsText {
                    opacity: 0;
                    transition: opacity .3s ease;
                }
            }*/ }
    .contentWrapper .linksSectionsWrapper .linksWrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      box-sizing: border-box;
      break-inside: avoid;
      width: 100%;
      min-height: 400px;
      margin: 0 0 20px 0;
      padding: 15px;
      background-color: rgba(224, 230, 235, 0.9); }
      .contentWrapper .linksSectionsWrapper .linksWrapper .linksImgContainer {
        margin-bottom: 10px;
        background-color: transparent;
        overflow: hidden;
        transition: background-color .4s ease; }
        .contentWrapper .linksSectionsWrapper .linksWrapper .linksImgContainer .linksImgLink {
          height: 100%; }
          .contentWrapper .linksSectionsWrapper .linksWrapper .linksImgContainer .linksImgLink .linksImg {
            width: 105%;
            opacity: 1;
            transform: translateX(-5px);
            transition: opacity .3s ease; }
          .contentWrapper .linksSectionsWrapper .linksWrapper .linksImgContainer .linksImgLink .linksImg:hover {
            opacity: .4;
            transition: opacity .3s ease; }
      .contentWrapper .linksSectionsWrapper .linksWrapper .linksImgContainer:hover {
        background-color: darkblue;
        transition: background-color .3s ease; }
      .contentWrapper .linksSectionsWrapper .linksWrapper .linksTitle {
        font-family: Oswald;
        font-weight: lighter;
        font-size: 2em;
        color: darkred;
        padding-top: 15px;
        border-top: 1px solid rgba(248, 248, 255, 0.7);
        transition: color .3s ease; }
      .contentWrapper .linksSectionsWrapper .linksWrapper .linksTitle:hover {
        cursor: pointer;
        color: rgba(0, 0, 99, 0.75);
        transition: color .3s ease; }
      .contentWrapper .linksSectionsWrapper .linksWrapper .linksDescription {
        font-family: Roboto;
        font-weight: lighter;
        font-size: 1.3em;
        line-height: 1.3em;
        letter-spacing: 1.2px;
        text-align: justify;
        color: darkblue;
        margin: 15px 0 0 0; }

/*# sourceMappingURL=repContactCSS.css.map */
