$phone-break-large: "screen and (min-width: 350px) and (max-width: 550px)";
$phone-break-large-text-adjust: "screen and (min-width 350px) and (max-width: 450px)";
$phone-break-medium: "screen and (min-width: 250px) and (max-width: 349px)";
$phone-break-small: "screen and (min-width: 0px) and (max-width: 249px)";
$tablet-break: "screen and (min-width: 551px) and (max-width: 850px)";
$wide-screen-break: "screen and (min-width: 1250px) and (max-width: 2199px)";


html {
	height: 100%;
	width: 100%;
	background-color: #565895;
}

body {
    height: 100%;
    width: 100%;
	min-height: 550px;
    display: flex;
    margin: 0px;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    font-family: "Playfair Display", sans-serif;
	background: linear-gradient(to bottom right, rgba(168, 0, 0, .75) -50%, rgba(248, 248, 255, .80) 33%, rgba(0, 0, 139, 0.8) 130%), url(images/flagBWBLUR2.jpg) center no-repeat;
    background-size: cover;
	@media #{$phone-break-small} {
		background: linear-gradient(to bottom right, rgba(168, 0, 0, .85) -50%, rgba(248, 248, 255, .9) 33%, rgba(0, 0, 139, 0.9) 130%), url(images/flagBWBLUR2.jpg) left no-repeat;
		background-size: cover;
	}
	@media #{$phone-break-medium} {
		background: linear-gradient(to bottom right, rgba(168, 0, 0, .85) -50%, rgba(248, 248, 255, .9) 33%, rgba(0, 0, 139, 0.9) 130%), url(images/flagBWBLUR2.jpg) left no-repeat;
		background-size: cover;
	}
	@media #{$phone-break-large} {
		background: linear-gradient(to bottom right, rgba(168, 0, 0, .85) -50%, rgba(248, 248, 255, .9) 33%, rgba(0, 0, 139, 0.9) 130%), url(images/flagBWBLUR2.jpg) center no-repeat;
		background-size: cover;
	}
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 10%;
	min-height: 55px;
	width: 100%;
	margin: 0px;
	border-bottom: 2px solid darkred;
	/*background-color: rgba(12, 29, 141, .7);*/
	background-color: rgba(248, 248, 255, .5);
	@media #{$phone-break-small} {
		position: fixed;
		bottom: 0;
		order: 2;
		border-bottom: none;
		border-top: 1.5px solid darkred;
		background-color: rgba(214, 214, 230, .9);
	}
	@media #{$phone-break-medium} {
		position: fixed;
		bottom: 0;
		order: 2;
		border-bottom: none;
		border-top: 1.5px solid darkred;
		background-color: rgba(214, 214, 230, .9);
	}
	@media #{$phone-break-large} {
		position: fixed;
		bottom: 0;
		order: 2;
		border-bottom: none;
		border-top: 1.5px solid darkred;
		background-color: rgba(214, 214, 230, .9);
	}

	.menuOption {
		width: 15%;
		height: 100%;
		border-left: 1px solid rgba(248, 248, 255, 0.7);
		padding-left: 15px;
		padding-right: 15px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		/*color: rgba(214, 210, 218, 0.99);*/
		color: darkblue;
		font-family: Open Sans Condensed;
		font-size: 1.5em;
		line-height: 95%;
		text-decoration: none;
		transition: color .4s ease, background-color .4s ease;
		@media #{$phone-break-small} {
			width: 25%;
			padding-left: 7px;
			padding-right: 7px;
			border-left: 1px solid darkred;
			font-size: 1.17em;
			font-weight: bold;
		}
		@media #{$phone-break-medium} {
			width: 25%;
			padding-left: 7px;
			padding-right: 7px;
			border-left: 1px solid darkred;
			font-size: 1.17em;
			font-weight: bold;
		}
		@media #{$phone-break-large} {
			width: 25%;
			padding-left: 7px;
			padding-right: 7px;
			border-left: 1px solid darkred;
			font-size: 1.25em;
			font-weight: bold;
		}
		@media #{$tablet-break} {
			width: 25%;
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	.menuOption:first-child {
		@media #{$phone-break-small} {
			border-left: none;
		}
		@media #{$phone-break-medium} {
			border-left: none;
		}
		@media #{$phone-break-large} {
			border-left: none;
		}
		@media #{$tablet-break} {
			border-left: none;
		}
	}

	.menuOption:last-child {
		border-right: 1px solid rgba(248, 248, 255, 0.7);
		@media #{$phone-break-small} {
			border-right: none;
		}
		@media #{$phone-break-medium} {
			border-right: none;
		}
		@media #{$phone-break-large} {
			border-right: none;
		}
		@media #{$tablet-break} {
			border-right: none;
		}
	}

	.menuOption:hover {
			/*color: rgba(147, 27, 56, .9);*/
			color: ghostwhite;
			background-color: rgba(0, 0, 99, .75);
			cursor: pointer;
			transition: color .4s ease, background-color .4s ease;
	}
}
.contentWrapper {
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 90%;
	margin-top: 20px;
	margin-bottom: 20px;
	align-self: center;
	overflow-y: scroll;
	@media #{$phone-break-small} {
		height: 85%;
		width: 95%;
	}
	@media #{$phone-break-medium} {
		height: 85%;
		width: 95%;
	}
	@media #{$phone-break-large} {
		height: 85%;
		width: 95%;
	}
	@media #{$tablet-break} {
		width: 90%;
	}
	@media #{$wide-screen-break} {
		width: 80%;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.titleFormWrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding-top: 25px;
		@media #{$phone-break-small} {
			order: 1;
			height: 100%;
			padding-bottom: 80px;
		}
		@media #{$phone-break-medium} {
			order: 1;
			height: 100%;
			padding-bottom: 80px;
		}
		@media #{$phone-break-large} {
			order: 1;
			height: 100%;
			padding-bottom: 80px;
		}

		.title {
			font-weight: 100;
			font-size: 7em;
			/*color: rgba(0, 0, 107, 0.5);*/
			color: rgba(147, 27, 56, 0.9);
			margin-top: 0px;
			margin-bottom: 15px;
			line-height: 100px;
			@media #{$phone-break-small} {
				margin-bottom: 20px;
				font-size: 30vw;
			}
			@media #{$phone-break-medium} {
				margin-bottom: 20px;
				font-size: 30vw;
			}
			@media #{$phone-break-large} {
				margin-bottom: 20px;
			}
			@media #{$tablet-break} {
				margin-bottom: 20px;
			}
		}

		.introText {
			font-family: open sans condensed;
			color: darkblue;
			text-align-last: justify;
			font-size: 1.3em;
			margin-top: 0px;
			margin-bottom: 10px;
			line-height: 25px;
			@media #{$phone-break-small} {
				font-size: 6vw;
				line-height: 26px;
			}
			@media #{$phone-break-medium} {
				font-size: 6vw;
				line-height: 26px;
			}
			@media #{$phone-break-large} {
				font-size: 1.4em;
				line-height: 30px;
			}
			@media #{$tablet-break} {
				margin-top: 0px;
			}

			.underTitle {
				font-size: 1.3em;
				color: rgba(147, 27, 56, 0.9);
			}
		}

		.addressSearch {
			display: flex;
			justify-content: center;
			@media #{$phone-break-small} {
				width: 95%;
			}
			@media #{$phone-break-medium} {
				width: 95%;
			}
			@media #{$phone-break-large} {
				width: 95%;
			}
			.addressSearchBar {
				border: 2px solid darkred;
				height: 40px;
				width: 273px;
				background-color: rgba(248, 248, 255, .3);
				padding-left: 15px;
				padding-right: 15px;
				font-family: open sans condensed;
				color: darkred;
				font-size: 1.5em;
				transition: background-color .4s ease;
				@media #{$phone-break-small} {
					width: 295px;
					font-size: 1.3em;
				}
				@media #{$phone-break-medium} {
					width: 295px;
					font-size: 1.3em;
				}
				@media #{$phone-break-large} {
					width: 295px;
				}
			}
			.addressSearchBar::-webkit-input-placeholder {
				color: darkblue;
				opacity: .3;
			}
			.addressSearchBar:focus {
				background-color: rgba(248, 248, 255, .7);
				transition: background-color .4s ease;
			}
		}
	}

	.repsWrapper {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: flex-start;
		width: 100%;
		box-sizing: border-box;
		max-height: 350px;
		padding: 20px;
		border-top: 1px solid darkred;
		font-family: open sans condensed;
		background: rgba(248, 248, 255, 0.4);
		@media #{$phone-break-small} {
			order: 1;
			flex-wrap: wrap;
			flex-direction: row;
			max-height: 270px;
			padding: 10px;
			justify-content: space-between;		}
		@media #{$phone-break-medium} {
			order: 1;
			flex-wrap: wrap;
			flex-direction: row;
			max-height: 250px;
			padding: 10px;
			justify-content: space-between;
		}
		@media #{$phone-break-large} {
			order: 1;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 15px;
			max-height: 250px;
		}
		@media #{$wide-screen-break} {
			width: 49%;
		}

		.repImgContainer {
			height: 290px;
			width: 201px;
			display: block;
			margin-right: 20px;
			background-position: center top;
			background-repeat: no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
			overflow: hidden;
			@media #{$phone-break-small} {
				display: none;
			}
			@media #{$phone-break-medium} {
				display: none;
			}
			@media #{$phone-break-large} {
				order: 1;
				height: 160px;
				width: 111px;
				border-right: none;
				padding-right: 0px;
				margin-bottom: 10px;
				background-position: center center;
			}

			img {
				height: 290px;
				width: 231px;
				opacity: 0;
				filter: alpha(opacity=0);
				@media #{$phone-break-small} {
					display: none;
				}
				@media #{$phone-break-medium} {
					display: none;
				}
				@media #{$phone-break-large} {
					height: 160px;
					width: 111px;
					border-right: none;
					padding-right: 15px;
					margin-bottom: 5px;
				}
			}
		}

		.repInfo {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: baseline;
			height: 250px;
			width: 50%;
			text-align: left;
			padding-left: 20px;
			border-left: 1px solid rgba(248, 248, 255, 0.7);
			@media #{$phone-break-small} {
				order: 1;
				height: 245px;
				max-width: 75%;
				padding-left: 0;
				padding-right: 0;
				margin-left: 0;
				border-left: none;			}
			@media #{$phone-break-medium} {
				order: 1;
				height: 220px;
				max-width: 75%;
				padding-left: 0;
				padding-right: 0;
				margin-left: 0;
				border-left: none;
			}
			@media #{$phone-break-large} {
				order: 3;
				height: 210px;
				justify-content: space-between;
				max-width: 55%;
				margin-left: 0px;
				padding-left: 15px;
				border-left: 1px solid rgba(248, 248, 255, 0.7);
			}
			@media #{$wide-screen-break} {
				width: 50%;
			}

			.repName {
				font-size: 3em;
				line-height: 95%;
				margin-top: 0;
				margin-bottom: 0;
				align-self: flex-start;
				justify-content: flex-end;
				color: darkred;
				@media #{$phone-break-small} {
					font-size: 10vw;
					text-align: left;
					margin-top: -2px;
				}
				@media #{$phone-break-medium} {
					font-size: 10vw;
					text-align: left;
					margin-top: -2px;
				}
				@media #{$phone-break-large} {
					font-size: 6.5vw;
					text-align: left;
					margin-top: -2px;
				}
				@media #{$tablet-break} {
					font-size: 2.4em;
					text-align: left;
					margin-top: -4px;
				}
				@media #{$wide-screen-break} {
					font-size: 2.1em;
				}
			}
			.repTitle {
				display: flex;
				font-size: 1.2em;
				font-weight: 100;
				color: darkred;
				font-style: italic;
				margin-top: 0px;
				margin-bottom: -5px;
				@media #{$phone-break-small} {
					font-size: 1em;
					font-weight: bold;
					margin-top: 0;
					margin-bottom: 0;
				}
				@media #{$phone-break-medium} {
					font-size: 1em;
					font-weight: bold;
					margin-top: 0;
					margin-bottom: 0;
				}
				@media #{$phone-break-large} {
					font-size: 1.1em;
					font-weight: bold;
					margin-top: 3px;
					margin-bottom: 0;
				}

			}
			.repAddressOptionalLine {
				font-size: 1.3em;
				font-weight: 100;
				height: 27px;
				color: darkblue;
				margin-top: 4px;
				margin-bottom: 0px;
				@media #{$phone-break-small} {
					font-size: 1.1em;
					font-weight: bold;
					height: initial;
				}
				@media #{$phone-break-medium} {
					font-size: 1.1em;
					font-weight: bold;
					height: initial;
				}
				@media #{$phone-break-large} {
					font-size: 1.2em;
					font-weight: bold;
					height: initial;
				}
				@media #{$tablet-break} {
					margin-bottom: 0px;
					height: 27px;
				}
			}
			.repAddressOne {
				font-size: 1.3em;
				font-weight: 100;
				color: darkblue;
				margin-top: 0px;
				margin-bottom: 0px;
				@media #{$phone-break-small} {
					font-size: 1em;
					font-weight: bold;
					margin-top: 0px;
				}
				@media #{$phone-break-medium} {
					font-size: 1.2em;
					font-weight: bold;
					margin-top: 0px;
				}
				@media #{$phone-break-large} {
					font-size: 1.2em;
					font-weight: bold;
					margin-top: 0px;
				}
				@media #{$phone-break-large-text-adjust} {
					font-size: 1.1em;
				}
			}
			.repAddressTwo {
				@extend .repAddressOne;
				@media #{$phone-break-small} {
					font-size: 1.2em;
					font-weight: bold;
					margin-bottom: 5px;
				}
				@media #{$phone-break-medium} {
					font-size: 1.2em;
					font-weight: bold;
					margin-bottom: 5px;
				}
				@media #{$phone-break-large} {
					font-size: 1.2em;
					font-weight: bold;
					margin-bottom: 5px;
				}
			}
			.repPhone {
				@extend .repAddressOne;
				@media #{$phone-break-small} {
					font-size: 1.2em;
					font-weight: bold;
					margin-bottom: 0;
				}
				@media #{$phone-break-medium} {
					font-size: 1.2em;
					font-weight: bold;
					margin-bottom: 0;
				}
				@media #{$phone-break-large} {
					font-size: 1.2em;
					font-weight: bold;
					margin-bottom: 0;
				}
			}
			.repWebsite {
				@extend .repAddressOne;
				margin-bottom: 10px;
				transition: color .3s ease;
				@media #{$phone-break-small} {
					font-size: 1.2em;
					font-weight: bold;
					margin-bottom: 0;
				}
				@media #{$phone-break-medium} {
					font-size: 1.2em;
					font-weight: bold;
					margin-bottom: 0;
				}
				@media #{$phone-break-large} {
					font-size: 1.2em;
					font-weight: bold;
					margin-bottom: 0;
				}
			}
			.repWebsite:hover {
				color: darkred;
				transition: color .3s ease;
			}
		}

		.repSocialMedia {
			display: flex;
			flex-direction: row;
			align-items: baseline;
			justify-content: space-between;
			height: 40px;
			width: 100px;
			border-left: 1px solid rgba(248, 248, 255, 0.7);
			margin-top: 0;
			margin-bottom: 0;
			padding-left: 20px;
			padding-right: 15px;
			@media #{$phone-break-small} {
				order: 2;
				flex-direction: column;
				width: auto;
				height: 130px;
				margin: 0;
				padding-left: 0;
				padding-right: 0;
				border-left: none;
			}
			@media #{$phone-break-medium} {
				order: 2;
				flex-direction: column;
				width: auto;
				height: 130px;
				margin: 0;
				padding-left: 0;
				padding-right: 0;
				border-left: none;
			}
			@media #{$phone-break-large} {
				order: 2;
				margin: 0;
				width: 111px;
				padding-left: 0;
				border-left: none;
			}
			.socialMediaIcon {
				height: 40px;
				width: 40px;
				opacity: .4;
				transition: background .3s ease, opacity .3s ease;
				@media #{$phone-break-small} {
					opacity: 1;
				}
				@media #{$phone-break-medium} {
					opacity: 1;
				}
			}
		}
		.socialMediaIconInvisible {
			display: none;
		}
		.facebookIcon {
			background: url("images/Facebook.png");
			background-size: contain;
		}
		.twitterIcon {
			background: url("images/Twitter.png");
			background-size: contain;
		}
		.socialMediaIcon:hover {
			opacity: 1;
			transition: opacity .3s ease;
		}
	}

	.repsWrapper:first-child {
		border-top: none;
	}

	.repsWrapper:nth-child(2) {
		@media #{$wide-screen-break} {
			border-top: none;
		}
	}
	
	.linksSections {
		display: flex;
		width: 100%;
		height: 50px;
		justify-content: center;
		margin: 0 0 20px 0;
		padding-bottom: 3px;
		font-size: 2.5em;
		font-family: Open Sans Condensed;
		color: darkred;
		background-color: rgba(248, 248, 255, 0.5);
	}

	.linksWrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		box-sizing: border-box;
		width: calc(50% - 10px);
		height: 450px;
		margin: 0 0 20px 0;
		padding: 20px;
		background-color: rgba(248, 248, 255, 0.5);

		.linksImgContainer {
			width: 100%;
			border-bottom: 1px solid rgba(248, 248, 255, 0.7);
			padding-bottom: 20px;
			transition: background-color .4s ease;

			.linksImgLink {
				height: 100%;

				.linksImg {
					width: 100%;

				}
			}
		}

		.linksImgContainer:hover {
			background-color: black;
			transition: background-color .4s ease;
		}

		.linksTitle {
			font-family: Open Sans Condensed;
			font-size: 2em;
			color: darkred;
			text-decoration: none;
			margin-top: 20px;
			transition: text-decoration .3s ease;
		}

		.linksTitle:hover {
			cursor: pointer;
			text-decoration: underline;
			transition: text-decoration 3s ease;
		}

		.linksDescription {
			font-family: Open Sans Condensed;
			font-size: 1.5em;
			color: darkblue;
		}

		/*.linksList {
			display: flex;
			flex-direction: column;
			width: 50%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			overflow-y: scroll;
			padding: 20px;
			border-right: 1px solid rgba(248, 248, 255, 0.7);
			align-items: flex-start;
			font-family: Open Sans Condensed;
			font-size: 1.3em;
			color: darkblue;
			background: rgba(248, 248, 255, 0.4);
			@media #{$phone-break-small} {
				width: 100%;
			}
			@media #{$phone-break-medium} {
				width: 100%;
			}
			@media #{$phone-break-large} {
				width: 100%;
			}

			.linksTitle {
				font-size: 1.5em;
				color: darkred;
				margin: 13px 0 13px 0;
				transition: color .3s ease;
			}

			.linksLink {
				text-decoration: none;
				color: darkblue;
				margin-bottom: 8px;
				text-align: left;
			}

			.linksLink:hover {
				color: darkred;
				transition: color .3s ease;
			}

		}

		.linksDescriptions {
			display: flex;
			flex-direction: column;
			width: 50%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			overflow-y: scroll;
			padding: 20px;
			align-items: center;
			justify-content: flex-start;
			font-family: Open Sans Condensed;
			font-size: 1.3em;
			color: darkblue;
			background: rgba(248, 248, 255, .4);
			@media #{$phone-break-small} {
				display: none;
			}
			@media #{$phone-break-medium} {
				display: none;
			}
			@media #{$phone-break-large} {
				display: none;
			}

			.linksScreenshot {
				width: 100%;
				opacity: 0;
				margin-top: 20px;
				padding: 10px;
				background: rgba(248, 248, 255, 0.7);
				transition: opacity .3s ease;
			}

			.linksDescriptionsPlaceholder {
				margin: 0px;
				opacity: 1;
				transition: opacity .3s ease;
			}

			.linksDescriptionsText {
				opacity: 0;
				transition: opacity .3s ease;
			}
		}*/
	}
}


